form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: left;
}

label .label-text {
  color: #000000;
  cursor: text;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  color: black;
  font-size: 26px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: left;
  transition: all 0.3s;
  width: 200px;
}

label input:focus {
  max-width: 100%;
  width: 200px;
}

label input:focus + .label-text {
  color: #007bff;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

p {
  color: white;
}

.h1 {
  color: red;
}


.inputkeren {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 0.5;
  overflow: hidden;
}

/* Input, Textarea */
.inputkeren>input,
.inputkeren>textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.inputkeren>input+span,
.inputkeren>textarea+span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.inputkeren>input+span::before,
.inputkeren>input+span::after,
.inputkeren>textarea+span::before,
.inputkeren>textarea+span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  min-width: auto;
  height: 5px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.inputkeren>input+span::before,
.inputkeren>textarea+span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.inputkeren>input+span::after,
.inputkeren>textarea+span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.inputkeren:hover>input,
.inputkeren:hover>textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}

.inputkeren:hover>input+span::before,
.inputkeren:hover>textarea+span::before,
.inputkeren:hover>input+span::after,
.inputkeren:hover>textarea+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.inputkeren:hover>input:not(:focus):placeholder-shown,
.inputkeren:hover>textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.inputkeren>input:not(:focus):placeholder-shown,
.inputkeren>textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.inputkeren>input:not(:focus):placeholder-shown+span,
.inputkeren>textarea:not(:focus):placeholder-shown+span {
  font-size: inherit;
  line-height: 68px;
}

.inputkeren>input:not(:focus):placeholder-shown+span::before,
.inputkeren>textarea:not(:focus):placeholder-shown+span::before,
.inputkeren>input:not(:focus):placeholder-shown+span::after,
.inputkeren>textarea:not(:focus):placeholder-shown+span::after {
  border-top-color: transparent;
}

/* Focus */
.inputkeren>input:focus,
.inputkeren>textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.inputkeren>input:focus+span,
.inputkeren>textarea:focus+span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.inputkeren>input:focus+span::before,
.inputkeren>input:focus+span::after,
.inputkeren>textarea:focus+span::before,
.inputkeren>textarea:focus+span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.inputkeren>input:disabled,
.inputkeren>input:disabled+span,
.inputkeren>textarea:disabled,
.inputkeren>textarea:disabled+span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}

.inputkeren>input:disabled+span::before,
.inputkeren>input:disabled+span::after,
.inputkeren>textarea:disabled+span::before,
.inputkeren>textarea:disabled+span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.inputkeren>input:disabled:placeholder-shown,
.inputkeren>input:disabled:placeholder-shown+span,
.inputkeren>textarea:disabled:placeholder-shown,
.inputkeren>textarea:disabled:placeholder-shown+span {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.inputkeren>input:disabled:placeholder-shown+span::before,
.inputkeren>input:disabled:placeholder-shown+span::after,
.inputkeren>textarea:disabled:placeholder-shown+span::before,
.inputkeren>textarea:disabled:placeholder-shown+span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

      .inputkeren>input,
      .inputkeren>input+span,
      .inputkeren>textarea,
      .inputkeren>textarea+span,
      .inputkeren>input+span::before,
      .inputkeren>input+span::after,
      .inputkeren>textarea+span::before,
      .inputkeren>textarea+span::after {
          transition-duration: 0.1s;
      }
  }
}